*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(204, 237, 17);
}

#dark header{
    background-color: rgb(15, 12, 237);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(204, 237, 17);
    color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#dark footer{
    background-color: rgb(15, 12, 237);
}

.header-text{
    display: flex;
    justify-content: center;
}

.error{
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.error a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

nav{
    width: 100%;
}

.navLink{
    display: flex;
    width: 300px;
    justify-content: space-around;
    list-style-type: none;
}

.navLink li a:hover{
    color: white;
}

.navLink li a{
    font-size: 25px;
    text-decoration: none;
}

.usersList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}

.usersList h3{
    font-size: 40px;
}

.usersList li{
    margin-top: 10px;
    list-style-type: none;
    color: black;
}

.usersList li a{
    text-decoration: none;
    color: black;
}

.usersList li a:hover{
    color: brown;
}

.userParams{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 10px;
}

.userParams p, h4{
    margin-top: 5px;
}

.userParams a{
    text-decoration: none;
    color: blue;
}

.userParams a:hover{
    font-size: 30px;
    transition: 2s;
}